@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>İşinde Nasıl</h1>
    <p>İsim ve ünvana göre arama yapabilirsin</p>
    <form>
        <div class="input-group">
            <input type="text" class="form-control" size="50" placeholder="Değelendirecek kişi adını yazabilirsiniz" required>
            <div class="input-group-btn">
                <button type="button" class="btn btn-info">
                    <span class="glyphicon glyphicon-search"></span> BUL
                </button>
            </div>
        </div>
    </form>
</div>